@import url(//fonts.googleapis.com/css?family=Rancho);
@import url(//fonts.googleapis.com/css?family=Special+Elite);

/*

CSS Styles for ZipTrades

TODO: Convert font-size to em where not already em

*/

*, body, html {
    font-family: verdana;
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #00f;
}

nav, nav a {
    font-size: 0.9em;
    text-align: center;
    font-family: 'Special Elite', verdana;
}

section {
    text-align: center;
    width: 800px;
    margin: auto;
}

header h1, header a {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Special Elite', verdana;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #444;
    text-decoration: none;
}

header h2{
    margin-top: 5px;
    font-family: 'Special Elite', verdana;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
    color: #333;
    text-decoration: none;
}

footer {
    margin-top: 100px;
    font-family: verdana;
    font-size: x-small;
    text-align: center;
}

/* Post listing form */

.post-listing-form table{
    margin: auto;
    background-color:
}

.post-listing-form th{
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
}

.post-listing-form td{
    text-align: left;
}

.post-listing-form input, .post-listing-form textarea {
    width: 400px;
    font-size: 14px;
}

.post-listing-form textarea {
    height: 200px;
}

/* Forum listing */

.forum_list th{
    text-align: left;
}

.forum_list td{
    font-size: small;
    text-align: left;
}
