<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}Zip Trades{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/new">Newest</a> |
        <a href="/hot">Hottest</a> |
        <a href="/random">Random</a> |
        <a href="/post">Post</a> |
        <a href="/forum">Forum</a> |
        <a href="/about">About</a>
    </nav>
    <header>
        <h1><a href="/">ZipTrades</a></h1>
        {% block subheading %}{% endblock %}
    </header>
    <section>
{% block content %}{% endblock %}
    </section>
    <footer>
        <a href="/user_agreement">User Agreement</a> |
        <a href="/privacy_policy">Privacy Policy</a> |
        <a href="/etiquette">Etiquette</a>
        <br>
        &copy; Jared De Blander. All rights reserved.
    </footer>
</body>
</html>