{% extends "layout.html" %}
{% block subheading %}
<h2>Create a listing</h2>
{% endblock %}
{% block content %}
<div class="post-listing-form">
    <table>
        <tr>
            <th>Email</th>
            <td><input type="text" name="email" placeholder="jared0x90@gmail.com"></td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td><input type="text" name="zipcode" placeholder="90210"></td>
        </tr>
        <tr>
            <th>Listing Title</th>
            <td><input type="text" name="title" placeholder="SNES Controller, 2BR 3BA Apt."></td>
        </tr>
    </table>
</div>
{% endblock %}